default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['DOCKER_APP_DATABASE_USER'] %>
  password: <%= ENV['DOCKER_APP_DATABASE_PASSWORD'] %>
  port: <%= ENV.fetch("DATABASE_PORT") { 3306 } %>
  host: <%= ENV["DATABASE_HOSTNAME"] %>
development:
  <<: *default
  database: docker-app

test:
  <<: *default
  database: docker-app_test

production:
  <<: *default
  database: docker-app-production
